@import "../../../styles/globals";

.mainContainer {
  background-color: $pink;
}

.contactHeader {
  font-family: CenturyGothicBold;
  font-size: 90pt;
  line-height: 80pt;
  color: $green;
  text-transform: uppercase;
}

.contactSubheader {
  font-size: 18pt;
  line-height: 32pt;
  font-family: CenturyGothicBold;
  color: white;
}

.emailBox {
  color: black;
  background-color: $green;
  padding: 2px 8px;
}

.findHeader {
  font-size: 70pt;
  line-height: 58pt;
  font-family: Abuget;
  color: white;
}

.pattern {
}
