@import "../../../styles/globals";

@media (max-width: 992px) {
  .mainContainer p {
    font-size: 28pt;
    line-height: 36pt;
  }

  .beautiful {
    img {
      top: 3px !important;
    }
  }
}

.mainContainer {
  background-color: $green;
}

.introHeader {
  font-size: 60pt;
  font-family: CenturyGothicBold;
  text-transform: uppercase;
  line-height: 72pt;
  color: black;
}

.imageDiv {
  position: relative;
  text-align: center;
}

.scrollText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: CenturyGothicBold;
  font-size: 18pt;
  line-height: 20pt;
}

.beautiful {
  position: relative;
  animation: glow 1.5s linear infinite 2s;
  padding: 0 10px;
  img {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: auto;
    z-index: 10;
  }
}

.paradox {
  position: relative;
  img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    animation: blink normal 1s infinite ease-in-out;
  }
}

.messy {
  position: relative;
  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;
    animation: blink normal 0.5s infinite ease-in-out;
  }
}

.text {
  position: relative;
  z-index: 9999;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink-messy {
  0% {
    background-image: url("/static/images/messyline.png");
  }
  50% {
    background: none;
  }
  100% {
    background-image: url("/static/images/messyline.png");
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 16px whitesmoke;
  }
}
