@import "../../../styles/globals";

.mainContainer {
  background-color: black;
  background-image: url("/static/images/submitpattern.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.submitHeader {
  font-size: 60pt;
  line-height: 72pt;
  font-family: CenturyGothicBold;
  text-transform: uppercase;
  color: $pink;
}

.submitSubheader {
  font-size: 20pt;
  line-height: 32pt;
  font-family: CenturyGothicBold;
  color: white;
}

.rectangle {
  border: 16px solid $green;
  background-color: black;
  margin: 55px 0;
  position: relative;
}

.button {
  position: relative;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: 80%;
  }
}

.buttonText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-family: RobotoBlack;
  font-size: 16pt;
  text-transform: uppercase;
  cursor: pointer;
}

.lipImage {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 0;
  padding-top: 18%;
  padding-right: 5%;
}
