@import "../../../styles/globals";

.mainContainer {
  background-color: $blue;
}

.pattern {
  position: relative;
  top: 0;
  left: 0;
  float: right;
  padding: 40px 40px 0 0;
  z-index: 9999;
}

.whoImage {
  position: absolute;
  right: 0;
  padding-top: 65px;
}

.whoHeader {
  font-size: 18pt;
  font-family: RobotoBlack;
  color: black;
  background-color: $green;
  text-transform: uppercase;
  padding: 2px 5px;
}

.whoSubheader {
  font-size: 70pt;
  line-height: 58pt;
  font-family: Abuget;
  color: black;
}

.whoContent {
  font-size: 18pt;
  line-height: 32pt;
  font-family: CenturyGothicBold;
  color: black;
}
